In [1]:
import pandas as pd
import numpy as np
import copy

In [6]:
doc_name = "./data/Паспорт_21.02"
dataset = pd.read_excel(f"{doc_name}.xls")

In [3]:
dataset.iloc[2]

Паспорт семейно-демографических показателей Волгоградской области\nТаблица 1.  01.02.2022              NaN
Unnamed: 1                                                                                             NaN
Unnamed: 2                                                                                             NaN
Unnamed: 3                                                                                             NaN
Unnamed: 4                                                                                             NaN
                                                                                                 ...
Unnamed: 79                                                                                            NaN
Unnamed: 80                                                                                  с 12-ю детьми
Unnamed: 81                                                                                  с 13-ю детьми
Unnamed: 82                                                                                  с 14-ю детьми
Unnamed: 83                                                                                            NaN
Name: 2, Length: 84, dtype: object

In [7]:
columns_names = [
	"Наименование района",
	"Всего семей",
	"Всего детей",
	"Детей 6-17 полных лет",
	"Детей 18-23 полных лет (обучение в образов.учрежд.начального,среднего,высшего проф.образования очной формы)",
	"с 3-мя детьми",
	"с 4-мя детьми",
	"с 5-ю детьми",
	"с 6-ю детьми",
	"с 7-ю детьми",
	"с 8-ю детьми",
	"с 9-ю детьми",
	"с 10-ю детьми",
	"с 11-ю детьми",
	"с 12-ю детьми",
	"с 13-ю детьми",
	"с 14-ю детьми",
	"с 15-ю детьми"
]
object_part = {
	"column_pos": [],
	"data": []
}
columns_data = {col: copy.deepcopy(object_part) for col in columns_names}
columns_first_finded = {col: False for col in columns_names}
columns_amount = len(dataset.columns)
columns_finded = len(columns_names)
table_end_index_row = 0
search_table_start_index = 0

def search_table_start_by_name(dataset, search_phrase):
	index_phrase = 0
	for i in range(len(dataset)):
		row = dataset.iloc[i]
		row = map(str, list(row.values))
		str_row = "".join(row)

		if search_phrase in str_row:
			# print(row)
			index_phrase = i
			break
	print("index_phrase", index_phrase)
	return index_phrase

search_phrase = "Приемные многодетные семьи"
search_table_start_index = search_table_start_by_name(
	dataset=dataset,
	search_phrase=search_phrase
)

for i in range(search_table_start_index, len(dataset)):
	row = dataset.iloc[i]
	row = map(str, list(row.values))
	str_row = "".join(row)
	if columns_finded > 0:
		for col_name in columns_names:
			if col_name in str_row and not columns_first_finded[col_name]:
				for j in range(columns_amount):
					col_data = dataset.iloc[i, j]
					if col_name == col_data:
						columns_data[col_name]['column_pos'] = [i, j]
						columns_finded -= 1
						columns_first_finded[col_name] = True
						break

	if "области" in str_row:
		# print(str_row)
		table_end_index_row = i - 1
		break

index_phrase 133

In [16]:
table_end_index_row

62

In [8]:
columns_data

{'Наименование района': {'column_pos': [133, 6], 'data': []},
 'Всего семей': {'column_pos': [133, 14], 'data': []},
 'Всего детей': {'column_pos': [133, 16], 'data': []},
 'Детей 6-17 полных лет': {'column_pos': [133, 30], 'data': []},
 'Детей 18-23 полных лет (обучение в образов.учрежд.начального,среднего,высшего проф.образования очной формы)': {'column_pos': [133,
   37],
  'data': []},
 'с 3-мя детьми': {'column_pos': [134, 44], 'data': []},
 'с 4-мя детьми': {'column_pos': [134, 48], 'data': []},
 'с 5-ю детьми': {'column_pos': [134, 55], 'data': []},
 'с 6-ю детьми': {'column_pos': [134, 57], 'data': []},
 'с 7-ю детьми': {'column_pos': [134, 64], 'data': []},
 'с 8-ю детьми': {'column_pos': [134, 69], 'data': []},
 'с 9-ю детьми': {'column_pos': [134, 71], 'data': []},
 'с 10-ю детьми': {'column_pos': [134, 76], 'data': []},
 'с 11-ю детьми': {'column_pos': [134, 78], 'data': []},
 'с 12-ю детьми': {'column_pos': [134, 80], 'data': []},
 'с 13-ю детьми': {'column_pos': [134, 81], 'data': []},
 'с 14-ю детьми': {'column_pos': [134, 82], 'data': []},
 'с 15-ю детьми': {'column_pos': [135, 83], 'data': []}}

In [8]:
dataset.iloc[62, 0]

'И т о г о'

In [9]:
def parse_column_table(dataset, column_pos, end_index, column_name):
	col_data = []
	start_index_row = column_pos[0] + 1
	column_index = column_pos[1]
	statistics_col = {
		"str": 0,
		"int": 0
	}
	for i in range(start_index_row, end_index):
		row_data = dataset.iloc[i, column_index]
		cond_1 = (isinstance(row_data, str) or isinstance(row_data, int))
		cond_2 = column_name != row_data
		cond_3 = not str(dataset.iloc[i, 0]) in "И т о г о"
		if cond_1 and cond_2 and cond_3:
			# print(row_data)
			col_data.append(row_data)
		
		if isinstance(row_data, str):
			statistics_col['str'] += 1
		elif isinstance(row_data, int):
			statistics_col['int'] += 1
	
	new_col_data = []
	for item in col_data:
		if statistics_col['str'] > statistics_col['int'] and isinstance(item, str):
				new_col_data.append(item)

		elif statistics_col['str'] < statistics_col['int'] and isinstance(item, int):
				new_col_data.append(item)
			
	return new_col_data


parse_column_table(
	dataset=dataset,
	column_pos=[2, 44],
	end_index=table_end_index_row,
	column_name='с 3-мя детьми'
)

[140,
 411,
 827,
 136,
 406,
 242,
 350,
 419,
 656,
 501,
 155,
 216,
 505,
 323,
 453,
 315,
 107,
 447,
 353,
 244,
 294,
 217,
 839,
 201,
 188,
 547,
 188,
 672,
 356,
 440,
 231,
 127,
 176,
 2223,
 853,
 456,
 310,
 352,
 602,
 1398,
 862,
 1161,
 1010,
 1159,
 1011,
 458,
 23537,
 140,
 411,
 819,
 136,
 403,
 233,
 345,
 412,
 651,
 499,
 154,
 216,
 503,
 318,
 451,
 315,
 105,
 441,
 353,
 243,
 293,
 215,
 838,
 200,
 186,
 544,
 187,
 671,
 354,
 439,
 230,
 127,
 172,
 2212,
 848,
 451,
 305,
 345,
 600,
 1392,
 858,
 1156,
 1009,
 1151,
 1005,
 457,
 23393,
 0,
 8,
 1,
 3,
 9,
 5,
 7,
 5,
 2,
 1,
 0,
 2,
 5,
 2,
 0,
 2,
 6,
 0,
 1,
 1,
 2,
 1,
 1,
 2,
 3,
 1,
 1,
 2,
 1,
 1,
 0,
 4,
 12,
 5,
 5,
 5,
 7,
 2,
 6,
 5,
 5,
 1,
 8,
 6,
 1]

In [66]:
columns_data

{'Наименование района': {'column_pos': [1, 6], 'data': []},
 'Всего семей': {'column_pos': [1, 14], 'data': []},
 'Всего детей': {'column_pos': [1, 16], 'data': []},
 'Детей 6-17 полных лет': {'column_pos': [1, 30], 'data': []},
 'Детей 18-23 полных лет (обучение в образов.учрежд.начального,среднего,высшего проф.образования очной формы)': {'column_pos': [1,
   37],
  'data': []},
 'с 3-мя детьми': {'column_pos': [2, 44], 'data': []},
 'с 4-мя детьми': {'column_pos': [2, 48], 'data': []},
 'с 5-ю детьми': {'column_pos': [2, 55], 'data': []},
 'с 6-ю детьми': {'column_pos': [2, 57], 'data': []},
 'с 7-ю детьми': {'column_pos': [2, 64], 'data': []},
 'с 8-ю детьми': {'column_pos': [2, 69], 'data': []},
 'с 9-ю детьми': {'column_pos': [2, 71], 'data': []},
 'с 10-ю детьми': {'column_pos': [2, 76], 'data': []},
 'с 11-ю детьми': {'column_pos': [2, 78], 'data': []},
 'с 12-ю детьми': {'column_pos': [2, 80], 'data': []},
 'с 13-ю детьми': {'column_pos': [2, 81], 'data': []},
 'с 14-ю детьми': {'column_pos': [2, 82], 'data': []},
 'с 15-ю детьми': {'column_pos': [3, 83], 'data': []}}

In [10]:
dataset_object = {name: [] for name in columns_names}

for col_name in columns_names:
	col_info = columns_data[col_name]
	column_pos = col_info["column_pos"]
	# print(column_pos)
	col_data = parse_column_table(
		dataset=dataset,
		column_pos=column_pos,
		end_index=table_end_index_row,
		column_name=col_name
	)
	print(len(col_data))
	dataset_object[col_name] = col_data

45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45

In [11]:
new_dataset = pd.DataFrame(data=dataset_object)
new_dataset['Дата'] = "12/45/23"
new_dataset.to_csv(f"./{doc_name}_adopted_family.csv", index=False)